@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* common css */

.width {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-g {
  padding: 12px 20px;
  border-radius: 50px;
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
  font-weight: 600;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
}

/* main style */

/* header related style */
header {
  background-color: #1a0b2e;
}

.navbar {
  border-bottom: 1px solid #412567;
}

/* navbar related style */
.nav-container {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container h2 {
  font-size: 38px;
  font-weight: 800;
  color: #ffffff;
}

.nav-container h2 span {
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-container .menu-bar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-container .menu-bar li a {
  text-decoration: none;
  color: #ffffff95;
}

.nav-container .nav-bar {
  display: none;
}

/* banner-section style */
#banner-section {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.banner-container {
  padding: 100px 0;
}

.hero-circle {
  position: relative;
  max-width: 350px;
  max-height: 350px;
  margin: 0 auto 40px;
}

.hero-circle::before {
  content: "NEW";
  background-color: #00ff88;
  padding: 8px 16px;
  border-radius: 20px;
  color: #1a0b2e;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  top: 50px;
  right: -250px;
  border: 0;
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -16.71%;
}

.banner-content {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.banner-content h2 {
  font-size: 3.875rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.banner-content P {
  color: #ffffff85;
  margin-bottom: 24px;
  line-height: 1.5;
}

.banner-content .banner-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.banner-content .banner-btn i {
  margin-right: 8px;
}

.btn-s {
  padding: 12px 20px;
  border-radius: 50px;
  background: none;
  font-weight: 600;
  border: 1px solid;
  color: #00ff88;
  cursor: pointer;
}

/* podcast-section related style */
#podcast-section {
  background-color: #1a0b2e;
  padding: 50px 0;
}

.podcast-content {
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid #ffffff10;
}

.podcast-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.podcast-content p {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 80px;
  color: #ffffff85;
}

.podcast-info {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.podcast-card {
  text-align: center;
}

.podcast-card h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
  color: #00ff88;
}

.podcast-card p {
  color: #ffffff85;
  text-transform: uppercase;
}

/* responsive for mobile device */
@media screen and (max-width: 576px) {
  .nav-container {
    padding: 16px 5px;
  }

  .nav-container h2 {
    font-size: 30px;
  }

  .nav-container .menu-bar {
    display: none;
  }

  .nav-container button {
    display: none;
  }

  .nav-container .nav-bar {
    display: block;
  }

  .nav-container .nav-bar i {
    font-size: 24px;
    color: #ffffff;
  }

  /* banner-section style */
  #banner-section {
    background-size: 900px;
    background-position: top;
    object-fit: fill;
  }

  .banner-container {
    padding: 40px 0;
  }

  .hero-circle::before {
    top: 30px;
    right: -130px;
  }

  .hero-circle {
    width: 200px;
    margin-bottom: 24px;
  }

  .mic {
    width: 46px;
    top: 50%;
    height: 50%;
    margin-top: -29px;
    margin-left: -23px;
  }

  .banner-content {
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
  }

  .banner-content h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 8px;
  }

  .banner-content P {
    max-width: 400px;
    margin: 0 auto 24px;
  }

  /* podcast-section related style */
  #podcast-section {
    padding: 40px 0;
  }

  .podcast-content {
    padding: 0 20px;
  }

  .podcast-content h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  .podcast-content p {
    padding-bottom: 40px;
  }

  .podcast-info {
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .podcast-card h2 {
    font-size: 2.5rem;
  }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-container {
    padding: 16px 5px;
  }

  .nav-container h2 {
    font-size: 32px;
  }

  .nav-container .menu-bar {
    gap: 22px;
  }

  /* banner-section style */
  #banner-section {
    background-size: 100%;
    background-position: center;
    object-fit: cover;
  }

  /* podcast-section related style */
  .podcast-content {
    padding: 0 20px;
  }

  .podcast-info {
    padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}
